.signin-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 80vh;
     gap: 20px;
}
.signin-container h1 {
     font-family: Open sans;
     margin-bottom: 30px;
}
.email-container,
.password-container,
.email-container p,
.password-container p {
     display: flex;
     flex-direction: column;
     gap: 10px;
     font-family: Roboto;
}
.email-container input,
.password-container input {
     border: 1.6px solid grey;
     width: 300px;
     border-radius: 10px;
     outline-color: rgb(117, 37, 191);
     padding: 10px;
     font-family: roboto;
}

.sign_in_btn {
     padding: 10px;
     border-radius: 10px;
     background-color: rgb(130, 0, 252);
     color: white;
     font-size: 15px;
     outline: none;
     margin-top: 20px;
     border: none;
     cursor: pointer;
}
